img.wb-foryersel {
    transform: rotate(-4deg);
}
img.wb-yourownbrand {
    transform: rotate(4deg);
}

.wb-right-image {
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.wb-right-image img {
    width: 90%;
}

@media screen and (min-width: 600px) {
    .wb-right-image {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    img.wb-foryersel {
        transform: rotate(-6deg);
    }

    img.wb-yourownbrand {
        transform: rotate(6deg);
        margin-left: 40px;
    }

    .wb-right-image {
        position: absolute;
        pointer-events: none;
        left: 840px;
        top: 0;
        display: block;
        margin: 0;
        width: 380px;
    }

    .wb-right-image img {
        width: 100%;
    }
}
