RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.drewnotweird\.com$ [NC]
RewriteRule ^ https://drewnotweird.com%{REQUEST_URI} [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /wunwurd/index.html [L]
